{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
        {% if search_words %}
        <span><a href="?q={{search_words}}&page={{ page_obj.previous_page_number }}">Previous</a></span>
        {% else %}
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
        {% endif %}
    </li>
    {% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
    {% if page_obj.has_next %}
    <li>
        {% if search_words %}
        <span><a href="?q={{search_words}}&page={{ page_obj.next_page_number }}">Next</a></span>
        {% else %}
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        {% endif %}
    </li>
    {% endif %}
</ul>
{% endif %}