<div class="masthead">
    <h2 class="text-muted">Idea Storming</h2>
    {% if user.is_authenticated %}
    <div class="text-right">
        <h5 class="text-muted" style="padding-right: 20px; font-weight: bold;">Hello, {{ request.user.first_name}}  {{ request.user.last_name }}.</h5>
    </div>
    {% endif %}
    <nav>
        {% if user.is_authenticated %}
        <ul class="nav nav-justified">
            {% if page == 'home' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="{% url 'index' %}">Home</a>
            </li>
            {% if page == 'new-project' %}
                 <li class="active">
            {% else %}
                   <li>
            {% endif %}
                <a href="{% url 'new-project' %}">New Project</a>
            </li>
            {% if page == 'my-project' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="#">My Projects</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="nav nav-justified">
                {% include "authapp/login.html" %}
        </ul>
        {% endif %}
    </nav>
</div>
