{% load index %}
{% load getattribute %}
<div class="row text-left">
    <div class="col-md-8">
        {% if not select_comment_to_add_project and comment_list %}
        <div class="page-header">
            <h3> Comments <small class="pull-right">{{ num_comments }} comments</small></h3>
        </div>
        <div class="comments-list">
            {% for comment in comment_list %}
            <div class="media">
                <h5 class="pull-right"><small>{{comment.day}}</small></h5>
                <div class="media-body">
                    <div>
                        <h4 class="media-heading user_name">{{ comment.user }}</h4>
                        {{ comment.comment }}
                    </div>
                    <div style="float:left;">
                        <input type="hidden" class="rating" id="ratingComment_{{ forloop.counter0 }}" data-readonly/>
                        <script>
                            rankingModule.setRanking("#ratingComment_{{ forloop.counter0 }}",{{comment.score}});
                        </script>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {%  elif select_comment_form and comment_list %}
        <div class="page-header">
            <h3> Comments <small class="pull-right">{{ num_comments }} comments</small></h3>
        </div>
        <div class="comments-list">
            <form action="{% url 'select-comments' project_title=project.url_detail user_id=project.user.id %}" method="post" class="form-horizontal" >
                {% csrf_token %}
                <table class="table table-condensed">
                    <thead>
                        <tr><span style="font-weight:bold">Add idea to Project</span></tr>
                        <tr></tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        {% for comment_choose in select_comment_form.selected_comments.field.choices %}
                        <tr>
                            <td style="width: 100px; text-align: center; vertical-align: middle;">
                                <div class="checkbox">
                                    <input type="checkbox" name="selected_comments" value="{{comment_choose.0}}" />
                                </div>
                            </td>
                            <td>
                                <div class="media-body" style="width: 300px;">
                                    <div>
                                        <h4 class="media-heading user_name">{{ comment_list|index:forloop.counter0|getattribute:'user' }}</h4>
                                        {{ comment_list|index:forloop.counter0|getattribute:'comment'}}
                                    </div>
                                    <div style="float:left;">
                                        <input type="hidden" class="rating" id="ratingComment_{{ forloop.counter0 }}" data-r data-readonly />
                                        <script>
                                            rankingModule.setRanking("#ratingComment_{{ forloop.counter0 }}", {{comment_list|index:forloop.counter0 | getattribute:'score'}});
                                        </script>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 100px;"><h5><small>{{ comment_list|index:forloop.counter0|getattribute:'day' }}</small></h5></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button id="save-btn" type="submit" class="btn btn-default text-left">Add Ideas to Project.</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>