{% extends "base.html" %}

{% load widget_tweaks %}
{% block content %}



<h1>My Projects </h1>


<table class="table">
    <thead>
        <tr>
            <th class="text-left">Name Project</th>
            <th class="text-center">Creation date</th>
            <th class="text-center">Last modified date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for projects in object_list %}
            <tr>
                <td class="text-left">{{ projects.title  }}</td>
                <td class="text-center">{{ projects.date_creation|date:"Y-m-d" }}</td>
                <td class="text-center">{{ projects.date_last_modification|date:"Y-m-d" }}</td>
                <td>
                    <a 
                       class="btn btn-default" 
                       href="{% url 'detail-project' project_title=projects.url_detail user_id=projects.user.id partial_username=projects.partial_username %}" 
                       role="button" 
                       style="padding: 14px 14px;font-size: 12px;">View Detail</a>
                </td>
                {% empty %}
                <td colspan="4" > You dont have any project yet. =(</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "pagination.html" %}


{% endblock content %}

