<div class="col-md-8">
    <div class="page-header">
        <h3> selected feed from users </h3>
    </div>

    <div class="comments-list">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>"I added more reference about spaces movies"</td>
                    <td class="text-right">User1 -- 16/03/2016</td>
                </tr>
                <tr>    
                    <td>"I change the investment to less 100 $USD"</td>
                    <td class="text-right">User2 -- 11/06/2016</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>