
{% if selected_comment_list %}
<div class="col-md-8">
    <div class="page-header">
        <h3> selected feed from users </h3>
    </div>

    <div class="comments-list">
        
        <table class="table table-condensed">
            <tbody>
                {% for comment in selected_comment_list %}
                    {% if comment.added_to_project %}
                    <tr>
                        <td>{{ comment.comment }}</td>
                        <td class="text-right">{{ comment.user }} -- {{comment.day}}</td>
                        <td>
                            <form action="{% url 'unselect-comments' project_title=project.url_detail user_id=project.user.id %}" method="post">
                                {% csrf_token %}
                                {{ comment.form }}
                                <input type="submit" value="X">
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
</div>
</div>
{% endif %}