<div class="text-left">
    <h3>Top 20 last projects</h3>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th class="text-left">Name Project</th>
            <th class="text-center">User</th>
            <th class="text-right">Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for project in latest_project_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="text-left">{{ project.title }}</td>
            <td class="text-center"> {{ project.user.username }}</td>
            <td class="text-center">{{ project.date_last_modification|date:"Y-m-d" }}</td>
            <td>
                <a class="btn btn-default"
                   href="{% url 'detail-project' project_title=project.url_detail user_id=project.user.id partial_username=project.partial_username %}"
                   role="button"
                   style="padding: 14px 14px;font-size: 12px;">View Detail</a>
            </td>
        </tr>
            {% empty %}
            <tr>
                <td colspan="4"> Don't exist registered projects =(</td>
            </tr>
        {% endfor%}
</tbody>
</table>